

.__bz_alert {
    display: block;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--bz-color-default-border);
    background-color: var(--bz-color-default-bg);
    color: var(--bz-color-default-text);
    margin: 1%;
    max-width: 768px;
}

.__bz_alert ::deep a {
    text-decoration: underline;
    font-weight: bold;
}

.__bz_alert ::deep a:visited {
    text-decoration: underline;
    color: var(--bz-color-primary-text);
}

.__bz_alert.primary {
    border: 1px solid var(--bz-color-primary-border);
    background-color: var(--bz-color-primary-bg);
    color: var(--bz-color-primary-text);
}

.__bz_alert.primary ::deep a {
    color: var(--bz-color-primary-text);
}

.__bz_alert.success {
    border: 1px solid var(--bz-color-success-border);
    background-color: var(--bz-color-success-bg);
    color: var(--bz-color-success-text);
}

.__bz_alert.success ::deep a {
    color: var(--bz-color-success-text);
}

.__bz_alert.fail {
    border: 1px solid var(--bz-color-fail-border);
    background-color: var(--bz-color-fail-bg);
    color: var(--bz-color-fail-text);
}

.__bz_alert.fail ::deep a {
    color: var(--bz-color-fail-text);
}

.__bz_alert.warning {
    border: 1px solid var(--bz-color-warning-border);
    background-color: var(--bz-color-warning-bg);
    color: var(--bz-color-warning-text);
}

.__bz_alert.warning ::deep a {
    color: var(--bz-color-warning-text);
}

.__bz_alert.info {
    border: 1px solid var(--bz-color-info-border);
    background-color: var(--bz-color-info-bg);
    color: var(--bz-color-info-text);
}

.__bz_alert.info ::deep a {
    color: var(--bz-color-info-text);
}

.__bz_alert .__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
    opacity: .8;
}
