/** Bootzor SCSS Bootzor */

// Set up main font
* {
    font-family: "Montserrat",sans-serif;
}
 
@import "Colors.scss";
@import "Icons.scss";


a {
    text-decoration: none;
    color: inherit;
}
